:root {
    --primary-color: #1992d4;
    --secondary-color: white;
    --third-color: #e2e8f0;
    --detail-color: #f0b429;
    --secondary-text: #656363;
    --font-size: 16px;
}


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    min-height: 100vh;
}

.sidebar {
    background-color: var(--third-color);
    grid-column: 1;
    grid-row: 1/-1;
}


.content {
    padding: 32px;
}

.greetings {
    display: grid;
    grid-template-columns: 112px 1fr;
    align-items: center;
    justify-content: center;
}

.greetings img {
    grid-row: 1/ -1;
    padding: 12px;
    width: 64px;
}

.gt-user {
    font-weight: bold;
}

.gt-name {
    font-size: 2rem;
    font-weight: bold;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 4px var(--primary-color) solid;
    max-width: 1080px;
    padding: 16px;
}

.pj-name {
    font-size: 2rem;
    font-weight: bold;
}

.icon-button {
    background: none;
    border: none;
    margin: 0 4px;
}

.icon-button {
    width: 32px;
}